body {
    background: #243010;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

h2, h3, p {
    margin: 0;
}

#hdr {
    min-height: 220px;
    padding-top: 3em;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.dest {
    background: #2A3C24;
}

img {
    width: 100%;
}

.dest {
    width: 40%;
    display: inline-block;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 1em 2em;
    border: 1px solid #87A330;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn:hover{
    background: #A1C349;
}
